@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
$black: #06071C;
$whitetextcolor: #F7F7FD;
$buttoncolor: #2408E8;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

button {
    padding: 10px 30px;
    background: $buttoncolor;
    border: none;
    color: $whitetextcolor;
    font-size: 18px;
}

.section-1 {
    height: 100vh;
    width: 100%;
    background-image: url(../images/page1backgraundimg.svg);
    background-position: center;
    background-size: cover;
}

.container {
    height: 100%;
    width: 100%;
    padding: 4% 14%;
    background: #030539;
    opacity: 0.9;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    a {
        text-decoration: none;
        margin: 0 15px;
        color: $whitetextcolor;
        opacity: 0.6;
        font-size: 18px;

        &:hover {
            opacity: 1;
        }
    }
}

.content {
    display: flex;
    height: 93%;

    .textcontent {
        width: 50%;
        height: 100%;
        padding-top: 100px;
        
        b {
            font-size: 76px;
            color: $whitetextcolor;
        }

        p {
            margin-top: 10px;
            margin-bottom: 40px;
            color: $whitetextcolor;
            opacity: 0.7;
        }

        .aboutproduct {
            height: 100px;
            width: 80%;
            margin-top: 50px;
            display: flex;
            justify-content: space-between;

            b {
                font-size: 34px;
                color: $whitetextcolor;
            }

            p {
                font-size: 15px;
                color: $whitetextcolor;
                opacity: 0.6;
            }
        }
    }

    .imgcontent {
        width: 50%;
        height: 100%;
        
        .year {
            position: absolute;
            top: 180px;
            right: 20px;
        }

        .bluebike {
            position: absolute;
            top: 320px;
        }
    }   
}

.section-2 {
    width: 100%;
    height: 100vh;
    background-color: white;
    padding: 8% 14%;

    .textbox {
        text-align: center;

        b {
            font-size: 43px;
            color: $black;
        }

        p {
            margin-top: 20px;
            font-size: 18px;
            color: $black;
            opacity: 0.5;
        }
    }

    .cardbox {
        display: flex;
        justify-content: center;
        margin-top: 60px;

        .cards {
            display: grid;
            grid-template-columns: repeat(4, 264px);
            grid-template-rows: 300px;
            gap: 30px;
    
            .card {
                padding: 30px;
                background: #FFFFFF;
                box-shadow: 0px 25px 40px rgba(6, 7, 28, 0.05);

                .boximg {
                    margin-bottom: 15px;
                }

                p {
                    margin: 15px 0;
                }
            }
        }
    }
}

.section-3 {
    width: 100%;
    height: 100vh;
    background-color: white;
    padding: 2% 14%;

    .textvideobox {
        text-align: center;

        b {
            font-size: 43px;
        }

        p {
            margin-top: 10px;
            font-size: 18px;
            color: $black;
            opacity: 0.5;
        }
    }

    .videos {
        display: flex;
        justify-content: center;

        .video {
            margin-top: 10px;
            width: 1146px;
            height: 648px;
            background-image: url(../images/video.jpg);
            position: relative;

            .control {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 133px;
                height: 133px;
                background: $buttoncolor;
                border-radius: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);

                .tri {
                    width: 52px;
                    height: 52px;
                    clip-path: polygon(100% 50%, 0 0, 0 100%);
                    background: $whitetextcolor;
                }
            }
        }
    }
}